/* reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border;
}

/* body{
    display: grid;
    grid-template-columns: 33% 33% 33%;
} */

p{
   border: 1px solid black;
}
/* To center content, set a width - margin: 0 auto */
#container{
    width: 80%;
    margin: 0 auto;
}